*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  } 
  .HOME{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 50px;
   
   }
   .bd-links-linkd-inline-blockrounde{
    margin-left: 800px;
    margin-top: 4000px;
    padding: 10px;
    padding: 0.1875rem 0.5rem;
    margin-top: 0.125rem;
    margin-left: 1.125rem;
    color: var(--bs-body-color);
    text-decoration: none;
 
   }
  
   .text{
    display: flex;
    justify-content: center;
}
.big{
    font-size:30px; 
    display: flex;
    justify-content: center;
}
.daniel{
    margin: 100px;
    display: flex;
    justify-content: space-around;
    width: 46%;
    
}
.diditext{
    margin: 30px;
    padding: 20px;
}

.sop{
     height: 20px;
     width: 20px;

     
     
  }
  .sus{
    height: 20px;
    width: 20px;
   
    }  
.jumanjistamasebi{
  display: flex;

}
.susa{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
}
.danielisbebia{
  display: flex;
  width: 100%;
  justify-content: center;
  
}
.dashoreba{
  width:80% ;
}
.levani{
  font-family: cursive;
  transform: rotate(345deg);
  margin-left: 230px;
  font-size: 25px;
}

.kaktusi{
width: 100%;
height: 400px;
background-color: rgb(20, 20, 20);
justify-content: center;
display: flex;
align-items: center;

}
.kvevit{
color: white;
display: flex;
flex-direction: row;
width: 70%;
text-align: center;
justify-content: space-between;

}
.ligikuri{
  width: 20%;
height: 180px;
display: flex;
flex-direction: column;
justify-content: space-between;

}
.serch{
  background-color: rgb(20, 20, 20);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  color: white;

}
.serch:hover{
  border-bottom: 3px  solid white;
}
.button{
  border: 2px solid white;
  text-decoration: none;
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.button:hover{
  background-color: red;
  border: 0px;
}

.jambulki{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.tuagi{
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;

}

.titanikis{
  border: 1px solid white;
  height: 3px;
  width: 1500px;
margin-top: 50px;
}
.bolotextisnarceni{
  color: white;
  margin-top: 20px;
}
.color{
  color: white;
}
.sop{
  position: fixed;
  height: 550px;
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
}

.iminent{
  margin-top: 90px;
  display: flex;
  justify-content: end;
  width: 100%;
}

.nugia{
  width: 40px;
  height: 40px;
}
.janjafili{
  margin-top: 320px;
  color: black;
}

.koki{
  color: black;
}

.ol{
  color: black;
}
.zviadauri{
  width: 50px;
  height: 40px;
  border: 1px solid rgb(17, 16, 16);
  color: white;
  background-color: rgb(17, 16, 16);
  margin: 30px;
  
}
.trugiababu{
  display: flex;
  flex-direction: column;
  width: 100%;
  
}
.trugiabebo{
  text-decoration: none;
  color: black;
}
.HOME{
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 50px;
 flex-direction: row;
 align-items: center;
 height: 80px;
 text-decoration: none;
 color: black;
 }
 .bd-links-linkd-inline-blockrounded{
   margin-left: 800px;
   margin-top: 4000px;
   padding: 10px;
   padding: 0.1875rem 0.5rem;
   margin-top: 0.125rem;
   margin-left: 1.125rem;
   color: var(--bs-body-color);
   text-decoration: none;
   height: 20px;
   width: 40px;
 }
 .ttr{

  height:50px ;
  width: 25px;

}
.patronaa{
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
      margin-left: 800px;
    margin-top: 4000px;
    padding: 10px;
    padding: 0.1875rem 0.5rem;
    margin-top: 0.125rem;
    margin-left: 1.125rem;
    color: var(--bs-body-color);
    text-decoration: none;
   
}